[Unit]
Description=Dynamic IP DNS Update
Wants=dynip.timer
After=network.target nss-lookup.target

[Service]
Type=oneshot
WorkingDirectory=<dynip-tool project dir>
ExecStart=/bin/sh -c '<dynip-tool project dir>/gradlew :runIpUpdate'

[Install]
WantedBy=default.target
